.share-icon {
  cursor: pointer;
}

.share-icon__img--big {
  width: 100px;
}

.share-icon__title--big {
  font-size: $font-size-2xl;
  color: $brand-secondary-color;
}

.share-icon__img--big:hover,
.share-icon__title--big:hover {
  opacity: 0.8;
}
