/*
 * animation code
 */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  35% {
    opacity: 1.0;
  }
  70% {
    -webkit-transform: scale(1.4, 1.4);
    opacity: 0.0;
  }
}

%animation-pulse {
  border: 2px solid $animation-color-main;
  border-radius: 100px;
  opacity: 0.0;
  animation-name: pulse;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-iteration-count: 1;
  // animation-delay: 1s;
}


/*
 * applied animation code
 */
.a-pick-counter {
  @extend %animation-pulse;
  height: 40px;
  width: 40px;
  position: relative;
  top: -33px;
  left: -15px;
}



/* INFO: ReactCSSTransitionGroup sample code */

// .sample-enter {
//   -webkit-transition: 1s ease-in;
// }
// .sample-enter.sample-enter-active {
//   font-size: 80px;
// }
// .sample-leave {
//   -webkit-transition: .5s ease-out;
// }
// .sample-leave.sample-leave-active {
//   font-size: 10px;
// }
