.rank-section {
  margin-right: 5%;
  margin-left: 5%;
  padding-top: $margin-xl;
  padding-bottom: $margin-xl;

  .rank-section-heading {
    margin: $margin-xl $margin-l $margin-xl;
    text-align: center;
    font-size: $font-size-2xl;
    color: $brand-secondary-color;
  }
  .rank-section-content-none {
    width: 100%;
    margin-top: 42px;
    font-size: 22px;
    text-align: center;
  }
  .rank-section-media-container {
    min-height: 300px;
    margin: 0 auto;
    border-radius: $border-radius-s;
    .rank-media-row {
      margin-bottom: $margin-l;
    }
  }
}

/*
 * INFO: '.rank-badge' below is not nested by any container
 *       because drag (sorting) gimic generates a copied element
 *       outside of containers.
 */
.rank-badge {
  display: block;
  font-size: 30px;
  background-color: $brand-primary-color;
  color: $white;
  text-align: center;
  border: none;
}
