// $max-width: 768px;
$nav-height: 85px;

$padding-s: 5px;
$padding-m: 10px;
$padding-l: 20px;
$padding-xl: 40px;
$padding-2xl: 100px;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 20px;
$margin-xl: 40px;
$margin-2xl: 100px;

$border-radius-s: 3px;
$border-radius-m: 6px;
$border-radius-l: 10px;
